<html lang="en">
  <%- include("./component/head.ejs") %>

  <body>
    <%- include("./component/nav.ejs") %>

    <div class="not-found content">OOPS, page not found :)</div>

    <%- include("./component/footer.ejs") %>
  </body>
</html>
